[submodule "frontend"]
	path = frontend
	url = https://github.com/RohanKaran/certificate-generator-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/RohanKaran/certificate-generator-backend
